
.galery{
    width: 100vw;
  }
  .galery-content{
    width:100vw;
    margin-top: 100px;
  }
  
  .section{
    width:95vw;
    height: auto;
    display: flex;
    margin:20px;
    margin-bottom: 40px;
  }
  
  .photo-container{
    display: flex;
    width:90%;
    margin-right: 20px;
  }
  .photo-container2{
    display: flex;
    width:90%;
    margin-left: 20px;
  }
  .image{
    border: 1px solid white;
    width: 100%;
    height: auto;
    margin: 5px;
  }
  .image2{
    width:220px;
    height: 95%;
    object-fit:cover;
    border: 1px solid white;
    margin: 5px;
  }
  .image-tall{
    margin-left: 10px;
    width:auto;
    height: auto;
  }
  .details-photo{
  width:90%;
  }
  .details-photo > p{
    color:rgb(213, 211, 211);
  }
  
  .galery-pages{
    margin-top: 90px;
    width:40px;
    height: 40px;
    border: 1px solid white;
  }
  .galery-pages-left{
    margin-left: 91%;
    margin-top: 88px;
    width:40px;
    height: 40px;
    border: 1px solid white;
  }
  .arrow{
    margin-top:12px;
    margin-left:12px;
  }
  