
.galery{
    width: 100vw;
  }
  .galery-content{
    width:100vw;
    margin-top: 100px;
  }
  
  .section{
    width:95vw;
    height: auto;
    display: flex;
    margin:20px;
    margin-bottom: 40px;
  }
  .pre-container{
    position: relative;
    display: flex;
    width:100vw;
    overflow-x: hidden;
 
  }
  .photo-container{
    position: relative;
    display: flex;
    gap:10px;
    width:300vw;
    transition: transform 0.5s;
  }
  .container{
    display: flex;
    position:relative;
    width:50vw;
    height: auto;
    gap: 10px;
  }


  .photo-container2{
    position: relative;
    display: flex;
    gap:10px;
    width:300vw;
    transition: transform 0.5s;
  }

  .image-frame > img{
    width: 100%;
    height: 160px;
    margin: 5px;
    border: 1px solid white;
  }


  .image{
    min-width: 190px;
    object-fit: cover;
  }
  
  .image:hover{
    scale: 1.02;
  }

  .image2{
    width: 280px;
    height: 95%;
    object-fit:cover;
    border: 1px solid white;
    margin: 5px;
  }

  .image2:hover{
    scale: 1.02;
  }
  .image-tall{
    width:auto;
    max-width: 30vw;
    height: 44.5vh;
  }
  .image-tall-2{
    width: 283px;
    height: 44.5vh;
  }
  .details-photo{
  width:90%;
  margin-left: 20px;
  }
  .details-photo > p{
    color:rgb(213, 211, 211);
  }
  
  
  .galery-pages{
    margin-top: 90px;
    width:40px;
    height: 40px;
    border: 1px solid white;
    cursor:pointer;
  }
  .galery-pages:hover{
    background-color: gray;
  }
  .galery-pages-left{
    margin-left: 85%;
    margin-top: 88px;
    width:40px;
    height: 40px;
    border: 1px solid white;
  }
  .galery-pages-left:hover{
    background-color: gray;
  }
  .arrow{
    margin-top:12px;
    margin-left:12px;
  }

  .showModal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(2,2,2,0.5);
    z-index: 8000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal{
    position: absolute;
    bottom: -100px;
    width:100vw;
    height: 50vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
   
  }
  .image-modal{
    min-width: 190px;
    min-height: 350px;
    object-fit: contain;
    margin-right: 400px;
    margin-bottom: 150px;
  }
  .image-modal-2{
    display: inline;
    object-fit: cover;
    scale:0.38;
    padding-right: 2920px;
  }
  
  @media screen and (max-width: 700px){
    .section{
      position: relative;
      flex-direction: column;
    }
    .pre-container{
      position: relative;
      display: flex;
      width:100vw;
      overflow: hidden;
    }
    .container{
      display: flex;
      position:relative;
      height: auto;
      margin-right: 65%;
      gap:80px
    }
    .galery-content{
      position:relative;
    }
    .galery-pages{
        position:absolute;
        top:270px;
        left:5px;
    }
    .galery-pages-left{
      position:absolute;
      top:275px;
      left:-84%;
  }
    .details-photo{
      margin-top: 50px;
    }
    .photo-container2{
      position: relative;
      display: flex;
      width:200vw;
      transition: transform 0.5s;
    }

    .image-frame{
      width: 30vw;
    }
    .image-container{
      width: 30vw;
      margin-right:-10px;
    }

    .image{
      width: 20vw;
      max-height: 20vh;
    }
    .image2{
      max-width:38vw;
      height: 95%;
      border: 1px solid white;
    }
    .image-tall{
      height: 42vh;
    }

    .showModal{
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: rgba(2,2,2,0.5);
      z-index: 8000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal{
      position: absolute;
      bottom: -100px;
      width:100vw;
      height: 70vh;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
     
    }
    .image-modal{
      min-width: 190px;
      min-height: 350px;
      object-fit: content;
      margin-top:150px;
      margin-left: 300px;
      scale: 3;
    }
    .image-modal-2{
      display: inline;
      object-fit: cover;
      scale:0.34;
      padding-right: 1300px;
    }
  }
