
.logo-container{
  display: flex;
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-bottom: -100px;
  gap:20px;
  align-items: center;
}
.logo{
  margin-top:20px;
  width: 130px;
  /* filter: hue-rotate(195deg); */
}
.title-container{
  margin-top:20px;
  line-height: 7px;
}

.title-container > h2{
  color: rgb(164, 163, 163);
}

  
  .Navbar{
    position: relative;
    top:-50px;
    display:flex;
    justify-content:flex-end;
    font-size:4rem;
    list-style: none;
    margin-right: 20px;
  }
  
  .Navbar > li > a{
    font-size: 1.2rem;
    color:aliceblue;
    margin: 0 10px;
    display: inline-block;
    opacity:0.90;
    text-decoration: none;
  }
  .Navbar > li > a:hover{
    opacity:1;
    text-shadow: -0.5px 0.5px 0 white,
                  0.5px 0.5px 0 white,
                  0.5px -0.5px 0 white,
                  -0.5px -0.5px 0 white;
  }
  .container-nav{
    position: relative;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    right: 20px;
    
  }


  .flexCol{
    width:100vw;
    height: 100px;
  }
  
  .show{
    position: absolute;
    top:110px;
    width: 100vw;
    height: 200px;
    background-color: rgba(2, 2, 2, 0.7);
    font-size:1rem;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:8000;
  }


  .flexCol > ul > li > a{
    text-decoration: none;
    color:white;
    font-size: x-large;
  }
  .flexCol > ul > li{
    position:relative;
    left:0px;
  }
  .flexCol > ul > hr{
    width: 300px;
  }

  .hidden{
    visibility:hidden;
    opacity: 0;
  }
  @media screen and (max-width: 700px){
    .title-container > h2{
      font-size: 18px;
    }
  }
