
.testimonials{
    margin-top: 100px;
    width:100vw;
    height: auto;
    margin-bottom: 150px;
  }
  .flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .testi{
    width:200px;
    height: 400px;
  }
  .circle-testi{
    position: relative;
    margin-left: 25px;
    margin-bottom: 10px;
    width:150px;
    height:40%;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 50%;
    object-fit: contain;
    overflow: hidden;

  }
  .circle-testi > img {
    width: 165px
  }
  .text-testi{
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
  }

  .testi-movil{
    padding:0 30px;
    width:80%;
    height: auto;
    margin-bottom: 10px;
  }
  .circle-testi-movil{
    position: relative;
    margin-left: 25px;
    margin-bottom: 10px;
    width:6em;
    height:50%;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 50%;
    overflow: hidden;
  }
  .circle-testi-movil > img {
    display: block;
    width: 100px;
  }
  .text-testi-movil{
    width: 100%;
    height: auto;
    background-color: rgb(131, 131, 131);
    padding: 10px;
  }