.trabajador{
    margin-top:100px;
    margin:20px;
  }
  .content-trabajador{
    display: flex;
    gap:20px;
  }
  .image-trabajador{
    border: 1px solid white;
    width: auto;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 100px;
  }
  .image-trabajador > img{
    object-fit: contain;
    width: 260px
  }
  .texto-trabajador{
    width: 60%;
    height: 300px;
    border-radius: 10px;
    padding-right: 50px;
  }
  
  .image-trabajador-movil{
    margin-top: 10px;
    border: 3px solid rgb(43, 102, 118);
    width: auto;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
  }
  .image-trabajador-movil > img{
    object-fit: contain;
    width: 155px
  }
  .texto-trabajador-movil{
    width: 65%;
    height: 180px;
    font-size: 11px;
    
  }
  