html{
  background: linear-gradient(to left,#1a1a1a, transparent,#2c2c2c);
  background-color: black;
  color:white;
}
body{
  overflow-x: hidden;
}

.heading{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
.heading > p {
  margin-left:25%;
  width: 50%;
  color:rgb(213, 211, 211);
}

.hr{
  width: 30%;
  margin-top:-10px;
  border:1px solid #366483;
}
.metal{
  border:0.5px solid white;
  margin-left: -0.5px;
  width: 100vw;
  height: 5px;
  background-image: radial-gradient(circle at 66.49% 78.56%, #3cfcff 0, #41bfdf 15%, #1c5978 50%, #539dc9 75%, #4e81a3 100%);;
}