html{
  background: linear-gradient(to left,#1a1a1a, transparent,#2c2c2c);
  background-color: black;
  color:white;
}
body{
  overflow-x: hidden;
}

.Navbar{
  position: relative;
  top:-50px;
  display:flex;
  justify-content:flex-end;
  font-size:4rem;
  list-style: none;
  z-index:4000;
  margin-right: 20px;
}

.Navbar > li > a{
  font-size: 1.2rem;
  color:aliceblue;
  margin: 0 10px;
  display: inline-block;
  opacity:0.90;
  text-decoration: none;
}
.Navbar > li > a:hover{
  opacity:1;
  text-shadow: -0.5px 0.5px 0 white,
                0.5px 0.5px 0 white,
                0.5px -0.5px 0 white,
                -0.5px -0.5px 0 white;
}


.container-slide {
  display: flex;
  width:600vw;
  height: auto;
  transition: transform 0.5s;
}
.image-slide {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}
.header{
width: 100vw;
height: auto;
overflow-x: hidden;
margin-top: -80px;
}
.controls{
position: absolute;
left: 0;
right: 0;
margin:20px;
display: flex;
justify-content: space-between;
gap:8px;
bottom: 380px;
}
.button-slide{
  position: relative;
  color:gray;
  width: 40px;
  height: 340px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.button-slide:hover{
  color:white;
  font-weight: bold;
  background-color: rgba(46, 45, 45, 0.1);
}
.button-slide:active{
  background-color: transparent;
}
.paginacion{
    scale: 4;
    z-index:5000;

}
.content-slide {
  position: absolute;
  display: flex;
  width:300vw;
  height: auto;
  transition: transform 0.5s;
  top:200px;
  left:-300px;
}
.titulo{
  font-size: 80px;
  position: relative;
  left: 6%;
  top: -15%;
  text-shadow: -2px 2px 0 #000,
                2px 2px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;

}
.texto{
  position: relative;
  left:6%;
  top: -120px;
  max-width: 50vw;
  text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}
.card{
  position: relative;
  left: 55vw;
  top:25vh;
  width: 100vw;
  height: 60vh;
}

.logo-container{
  display: flex;
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-bottom: -100px;
  gap:20px;
  align-items: center;
}
.logo{
  margin-top:20px;
  width: 130px;
  filter: hue-rotate(195deg);
}
.title-container{
  margin-top:20px;
  line-height: 7px;
}

.title-container > h2{
  color: rgb(164, 163, 163);
}

.metal{
  border:0.5px solid white;
  margin-left: -6px;
  width: 100vw;
  height: 5px;
  background-image: radial-gradient(circle at 66.49% 78.56%, #3cfcff 0, #4ddcff 25%, #53bcf2 50%, #539dc9 75%, #4e81a3 100%);;
}
.galery{
  width: 100vw;
}
.galery-content{
  width:100vw;
  margin-top: 100px;
}

.section{
  width:95vw;
  height: auto;
  display: flex;
  margin:20px;
  margin-bottom: 40px;
}

.photo-container{
  display: flex;
  width:90%;
  margin-right: 20px;
}
.photo-container2{
  display: flex;
  width:90%;
  margin-left: 20px;
}
.image{
  border: 1px solid white;
  width: 100%;
  height: auto;
  margin: 5px;
}
.image2{
  width:220px;
  height: 95%;
  object-fit:cover;
  border: 1px solid white;
  margin: 5px;
}
.image-tall{
  margin-left: 10px;
  width:auto;
  height: auto;
}
.details-photo{
width:90%;
}
.details-photo > p{
  color:rgb(213, 211, 211);
}

.testimonials{
  margin-top: 100px;
  width:100vw;
  height: auto;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.testi{
  width:200px;
  height: 400px;
}

.heading{
  margin-top: 100px;
}
.form{
  width: 100vw;
  height: auto;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}
.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.footer{
  margin-top: 200px;
}
.flex2{
  display: flex;
  align-items: center;
  gap:8px;
}
.grid{
  margin-left: 10%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card2{
  display: flex;
  position:relative;
  border: 1px solid lightgray;
  width: 155px;
  height: auto;
  gap: 20px;
  top:100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-right: 20px;
  cursor: pointer;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.logo2{
  position:absolute;
  top: -80px;
  border-radius: 100%;
  scale: 0.7;
}
.heading{
  text-align: center;
  margin-bottom: 50px;
}
.heading > p {
  margin-left:25%;
  width: 50%;
  color:rgb(213, 211, 211);
}
.btn{
  width:100px;
  height: 30px;
  background-color: #4e81a3;
  border:2px solid #76bae8;
  border-radius: 5px;
}
.btn:hover{
  background-color: #96c6e7;
  font-weight: bold;
  border:2px solid #366483;
}
.hr{
  width: 30%;
  margin-top:-10px;
  border:1px solid #366483;
}
.galery-pages{
  margin-top: 90px;
  width:40px;
  height: 40px;
  border: 1px solid white;
}
.galery-pages-left{
  margin-left: 91%;
  margin-top: 88px;
  width:40px;
  height: 40px;
  border: 1px solid white;
}

.trabajador{
  margin-top:100px;
  margin:20px;
}
.content-trabajador{
  display: flex;
  gap:20px;
}
.image-trabajador{
  border: 1px solid white;
  width: 40%;
  height: 500px;
}
.texto-trabajador{
  border: 1px solid white;
  width: 60%;
  height: 500px;
}
.arrow{
  margin-top:12px;
  margin-left:12px;
}
.circle-testi{
  position: relative;
  margin-left: 25px;
  margin-bottom: 10px;
  width:150px;
  height:40%;
  border: 2px solid rgb(231, 231, 231);
  border-radius: 50%;
}
.text-testi{
  width: 100%;
  height: 60%;
  background-color: rgb(200, 199, 199);
}